###### Requirements without Version Specifiers ######
fastapi
mapbox
Geocoder
openai
spacy
aiohttp
pexels-api
pycountry
shapely
uvicorn[standard]
shapely
pycountry
geopy

###### Requirements with Version Specifiers ######
