###### Requirements without Version Specifiers ######
fastapi
mapbox
Geocoder
openai
spacy
aiohttp
pexels-api
pycountry
shapely
uvicorn[standard]
geopy
python-dotenv
poppler-utils

###### Requirements with Version Specifiers ######
