@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; */
  --background-dark: #0e101b;
  --text-primary: #0e101b;
  --text-secondary: #3e5468;
  --card-gray: #F2F6F9;
}

body {
  background-color: rgb(255 255 255);
  font-family: Inter,sans-serif;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(15 23 42);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(94, 94, 94, 0.8); 
}

/* Button */
.btn-nav {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    margin-right: 1.5rem;
  }

.btn-nav:hover {
--tw-bg-opacity: 1;
background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.btn-nav-active {
color: rgb(255 255 255 / var(--tw-text-opacity));
--tw-bg-opacity: 1;
background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.background-dark {
background-color: var(--background-dark);
}

.text-primary {
color: var(--text-primary);
font-family: Inter,sans-serif;
}

.text-secondary {
color: var(--text-secondary);
font-family: Inter,sans-serif;
}

.card {
background-color: var(--card-gray);
border-radius: 10px;
}

/* Marker CSS */
.custom-marker {
  background-color: #121c42;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-marker span {
  text-align: center;
}

.border-underline-blue {
    box-shadow: 0 2px 0 0 rgb(59, 130, 246);
}

.editMarkerOverlay {
  z-index: 1000; /* Adjust the z-index as needed */
  position: fixed; /* Ensure it's positioned relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

/*Cropper CSS*/
.cropped {
  height: 200px; /* height of container */
  object-fit: cover;
}

.custom-popup .mapboxgl-popup-content {
  border-radius: 10px;
  padding: 0px;
}

.custom-popup .mapboxgl-popup-tip {
  display: none;
}